<h1>SIGN UP </h1>
	<p>Create an account with us to start blogging today</p>

		<div id="login">
			<br>
			<form method="POST" action="/sign-up">
				<label for="firstname">First Name:</label>
				<br>
				<input type="text" name="firstname">
				<br><br><br>

				<label for="lastname">Last Name:</label>
				<br>
				<input type="text" name="lastname">
				<br><br><br>
				<label for="username">Pick a Username:</label>
				<br>
				<input type="text" name="username">
				<br><br><br>
				<label for="password">Choose A Password:</label>
				<br>
				<input type="password" name="password">
				<br><br><br>
				<input type="submit">
			</form>
		</div>