<div class="main">
	<h1>Are you SURE you want to delete your account?? It's FINAL!</h1>
	<div id="delete_account">
		<a href="/"><h1>NO, this site is cool</h1></a>
		<br>
		<a href="/dead-user"><p>Yeah, I'm over this</p></a>
	</div>	
</div>