<!DOCTYPE html>
<html>
  <head>
   	<meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
		<title>Blog It!</title>
		<link rel="shortcut icon" href="images/favicon.ico">

	</head>
  <body>

      <% if flash[:notice] %>     
        <div class="flashnotice">       
          <%= flash[:notice] %>     
        </div>   
      <% end %>
    	<nav>
        	<ul>
        		<li><a href="/logout">LOG OUT</a></li>
       			<li><a href="/profile">MY PROFILE</a></li>
       			<li><a href="/">HOME</a></li>
       		</ul>
     	</nav>
      <header>
        <img src="images/favicon.ico">
        <h1 style="display:inline-block">BLOG IT!</h1>
      </header>

    	<%= yield %>

        

  </body>
</html>