<!DOCTYPE html>
<html>
  <head>
   	<meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
		<title>Blog App</title>
		<link rel="shortcut icon" href="images/favicon.ico">

	</head>
  <body>
    	<nav>
        	<ul>
        		<li><a href="/logout">LOG OUT</a></li>
       			<li><a href="/profile">MY PROFILE</a></li>
       			<li><a href="/">HOME</a></li>
       		</ul>
     	</nav>



    	<%= yield %>

        

  </body>
</html>