<h1><%= @user.firstname %>'s Profile</h1>


<h2>Your username is: <%= @user.username %></h2>


<h2>Your Posts:</h2>

	<%@user.posts.each do |t|%>
	<h2><%= t.title %> </h2>
	<p><%= t.body %> </p>
	<% end %>

<h2>Submit a Post</h2>
            <form method="POST" action="/new-post">
			<label for="title">Title</label>
			<br>
			<input type="text" name="title">
			<br><br><br>
			<label for="body">Body</label>
			<br>
			<textarea rows="4" cols="50"type="text" name="body"></textarea>
			<br><br><br>
			<input type="submit">
		</form>
<h2>Users You Follow:</h2>
