* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(images/paper.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

.flashnotice {
	background-color: pink;
	font-size: 18px;
}

nav {
	height: 20px;
}

nav li {
	float: right;
	padding: 15px;
	list-style-type: none;
}	

nav a {
	color: black;
	font-size: 18px;
	font-weight: bold;
}

nav a:hover{
	color: #900000;
}

nav li:hover {
	transform: scale(1.2, 1.2);
}

header {
	font-size: 18px;
}

header img {
	height: 40px;
	padding-left: 10px;
}

.main {
	width: 50%;
	margin: 0px auto 20px;
	text-align: center;
}

.col1, .col2 {
	width: 50%;
	float: left;
	text-align: center;
}

h1, h2, p {
	margin-bottom: 10px;
	margin-top: 5px;
}

h1, h3 {
	color: #900000;
}

.post {
	border: solid 2px black;
	border-radius: 25px;
	width: 40%;
	margin: 0 auto;
	padding: 5px;
	background-color: #c8c8c8;
}

.post hr{
	width:80%;
	margin:0 auto;
}

#delete {
	text-align: center;
	margin: 0 auto;
	width: 600px;
	clear: both;
}

#delete a{
	color: #900000;
	display: inline-block;
}

#delete img {
	display: inline-block;
}

#delete_account h1, #delete_account p{
	border: solid 3px black;
	display: inline-block;
	padding: 10px;
	background-color: #c8c8c8;
	color: black;
	margin-top: 50px;
}

#delete_account h3 {
	display: inline-block;
}
