* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(images/paper.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

nav {
	height: 20px;
}

nav li {
	float: right;
	padding: 15px;
	list-style-type: none;
}	

nav a {
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-weight: bold;
}

nav a:hover{
	color: #900000;
}

nav li:hover {
	transform: scale(1.2, 1.2);
}

#login, #sign-up, .main {
	width: 50%;
	margin: 50px auto;
	text-align: center;
}

.col1, .col2 {
	width: 50%;
	float: left;
	text-align: center;
}

h1, h2, p {
	margin: 10px auto;
}

h1, h3 {
	color: #900000;
}

.post {
	border: solid 2px black;
	border-radius: 25px;
	width: 40%;
	margin: 0 auto;
	padding: 5px;
	background-color: #c8c8c8;
}

.post hr{
	width:80%;
	margin:0 auto;
}

#delete {
	text-align: center;
	margin: 0 auto;
	width: 600px;
	clear: both;
}

#delete a{
	color: #900000;
	text-decoration: none;
	display: inline-block;
}

#delete img {
	display: inline-block;
}